.Book {
    padding-block: 5em;
    display: flex;
    align-items: stretch;

}
.BookContainer {
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 7px;
    box-shadow:  0 4px 34px rgba(0, 0, 0, 0.29);
    box-sizing: border-box;
}

.BookContainer hr {
    width: 60%;
    border-color: transparent;
    background-color: #F2E3CE;
    height: 1px;
}
.Deleted {
    font-family: "Libre Baskerville", serif;
    padding-block: 5em;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 7px;
    box-shadow:  0 4px 34px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.Deleted img{
    max-width: 100;
}
.Owner {
    height: 50px;
    width: 250px;
    margin-bottom: 40px;
    text-align: center;
    background-color: #F9F3EE;
    color: #2C1810;
    font-family: "DM Sans", sans-serif;
    padding: 13px;
}

.Deleted h1 {

    font-size: 44px;
    font-style: italic;
    color: #796157;
    padding-bottom: 15px;
}
.Deleted p {
    font-size: 16px;
    margin-bottom: 20px;
}

.Deleted img {
    margin-bottom: 75px;
}
.BookImage {
    width: calc(40% - 40px);
    background-position: center;
    background-size: cover;
    margin-right: 0px;
    margin-left: 120px;
}
.Book img {
    width: 50%;
}

.BookContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.BookInfo {
    display: grid;
    width: 100%;
    max-width: 465px;
    grid-template-rows: 100px 40px 60px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    gap: 1px;
}
.BookInfo > * {
    outline: 1px solid #F9F3EE;
    display: flex;
    align-items: center;
}
.BookInfo h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 28px;
    padding: 10px;
}

.Author {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
}

.Genre{
    grid-column-start: 1;
    grid-column-end: 2;
}

.PublishDate, .Genre, .Rating {
    padding: 5px;
}

.Rating {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Rating div {
    padding: 5px;
}

.summaryContainer{
    margin-top: 25px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    max-width: 465px;
    padding: 10px;
    position: relative;

}

.summaryContainer h2{
    font-size: 18px;
    font-style: italic;
    font-family: "Libre Baskerville", serif;
}

.summaryContainer p{
    width: 90%;
    text-align: justify;
    position: absolute;
    top: 40px;
    right: 15px;
}

.Book form {
    position: relative;
    overflow: hidden;
    background-color: #F9F3EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 32px;
    margin-top: 50px;
    max-width: 465px
}

.Book form p {
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    margin-bottom: 22px;
}

.Book form input[type="radio"] {
    position: absolute;
    left: -10000px
}
.Book form input[type="submit"] {
    padding: 20px 23px;
    border: none;
    background-color: #D9A963;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
.Stars, .Stars label{
    display: flex;
    margin-bottom: 22px;
}


.Owner p {
    margin-bottom: 5px;
}

.Owner a {
    color: #929292;
    margin-right: 20px;
}

.Owner span {
    color: #D70000;
    cursor: pointer;
    text-decoration: underline;
}
@media all and (max-width: 1080px) {
    .Book {
        flex-direction: column;
        align-items: center;
    }
    .BookImage {
        height: 300px;
        width: 90%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin-inline: 0;
    }
    .BookContent {
        align-items: center;
        margin-top: 2em;
        width: 80%;
    }    

}

@media all and (max-width: 600px) {
    .BookContent {
        width: 90%;
    }
    .Owner {
        height: 50px;
        width: 200px;
        margin-bottom: 30px;
        padding: 10px;
    }
    .Owner p {
        font-size: 14px;
    }

}