@keyframes pulse {
    0% {
      transform: scale(0.97);
    }
    50% {
      transform: scale(1.01);
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
      color: rgb(105, 91, 91);
    }
    100% {
      transform: scale(0.97);
    }
  }

.Home {
 position: relative;
 padding-top: 131px;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 619px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.main {
    width: 90%;
    max-width: 1320px;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 7px;
    box-shadow:  0 4px 34px rgba(0, 0, 0, 0.29);

}

.Home header {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home header h1 {
    font-style: italic;
    font-size: 44px;
    color: #796157;
}

.Home header p {
    font-style: italic;
    font-size: 28px;
    padding-block: 10px;
}

.Home header a{
    animation: pulse 2100ms infinite;
}


.bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-block: 140px;
}

@media screen and (max-width: 600px) {

    .Home {
        position: relative;
        padding-top: 60px;
       }

    .Home header{
        padding-bottom: 40px;
    }

    .Home header h1 {
        font-size: 30px;
    }

    .Home header p {
        font-size: 20px;
    }

    .bookList {
        margin-block: 50px;
    }
    
}